
*__pycache__/*
*/__pycache__/*
**.png
**.pyc
**.eps
**.mtx
**.db
**.mm
**.out
**.hdf5
**.html
**.yaml
*.pyxbldc
**_REAL.pxi
**_COMPLEX.pxi
**_INDEX.pxi
**_MASK.pxi
mprofile_*.dat
**.egg-info/
**.so
**/config.pxi
**/config.py
/*/build/
build/**
spack-build*
/*/dist/
/base/PyNucleus_base/*.c
/base/PyNucleus_base/myTypes.pxd
/base/PyNucleus_base/myTypes.pyx
/base/PyNucleus_base/myTypes.h
/metisCy/PyNucleus_metisCy/*.c
/fem/PyNucleus_fem/*.c
/multilevelSolver/PyNucleus_multilevelSolver/*.c
docs/example1_*.py
