version: 3

services:
  # Launch with:
  # podman-compose run pynucleus
  pynucleus:
    image: ghcr.io/sandialabs/pynucleus:latest
    build: .
    environment:
      # host display server
      - DISPLAY=${DISPLAY}
      # expose host proxies
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
    volumes:
      # The current directory on host gets mapped to /root in the container
      - $PWD:/root
      # map files to container to allow GUI windows
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $XAUTHORITY:/root/.Xauthority
    ports:
      # Expose a Jupyter notebook server from the container
      - 8889:8889
    network_mode: host
    hostname: pynucleus-container
