name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:

  linux:
    strategy:
      matrix:
        include:
          - py-version: '3.10'
            c-compiler: 'gcc'
            cxx-compiler: 'g++'
          - py-version: '3.11'
            c-compiler: 'gcc'
            cxx-compiler: 'g++'
          - py-version: '3.10'
            c-compiler: 'clang'
            cxx-compiler: 'clang++'
      fail-fast: false
    name: ${{ matrix.c-compiler}} Python ${{ matrix.py-version }}


    runs-on: ubuntu-latest
    timeout-minutes: 180
    env:
      MPIEXEC_FLAGS: "--allow-run-as-root --oversubscribe"
      PYNUCLEUS_BUILD_PARALLELISM: 2
      OMPI_CC: ${{ matrix.c-compiler }}
      OMPI_CXX: ${{ matrix.cxx-compiler }}

    steps:
    - name: Check out repo
      if: always()
      uses: actions/checkout@v3

    - name: Pull ccache cache
      if: always()
      id: ccache-restore
      uses: actions/cache/restore@v3
      with:
        path: /home/runner/.cache/ccache
        key: ccache-${{ matrix.c-compiler }}-${{ matrix.py-version }}

    - uses: actions/setup-python@v4
      if: always()
      with:
        python-version: ${{ matrix.py-version }}

    - name: Install Ubuntu packages
      if: always()
      run: |
        sudo apt-get update
        sudo apt-get install mpi-default-bin mpi-default-dev libmetis-dev libparmetis-dev libsuitesparse-dev ccache

    - name: Get ccache config dir
      if: always()
      run: ccache --show-config

    - name: Install Python dependencies
      if: always()
      run: make prereq && make prereq-extra

    - name: Install
      if: always()
      run: python -m pip install wheel && python -m pip list && make install PIP_INSTALL_FLAGS="--no-use-pep517 -vvv"

    - name: Remove ccache cache
      if: ${{ steps.ccache-restore.outputs.cache-hit }}
      shell: bash
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh extension install actions/gh-actions-cache
        gh actions-cache delete ccache-${{ matrix.c-compiler}}-${{ matrix.py-version }} --confirm
      continue-on-error: true

    - name: Push ccache cache
      if: always()
      uses: actions/cache/save@v3
      with:
        path: /home/runner/.cache/ccache
        key: ccache-${{ matrix.c-compiler }}-${{ matrix.py-version }}

    - name: Ccache report
      if: always()
      run: ccache -s

    - name: Run tests
      if: always()
      run: python3 -m pytest --junit-xml=test-results-${{ matrix.c-compiler }}-${{ matrix.py-version }}.xml tests/

    - name: Run flake8
      if: always()
      run: |
        make flake8
        mv flake8.xml flake8-${{ matrix.c-compiler }}-${{ matrix.py-version }}.xml

    - name: Archive test results
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: Test results
        path: test-results-${{ matrix.c-compiler }}-${{ matrix.py-version }}.xml

    - name: Report test results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Test report (${{ matrix.c-compiler }}, Python ${{ matrix.py-version }})
        path: test-results-${{ matrix.c-compiler }}-${{ matrix.py-version }}.xml
        reporter: java-junit
        fail-on-error: true

    - name: Report flake8 results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Flake8 report (${{ matrix.c-compiler }}, Python ${{ matrix.py-version }})
        path: flake8-${{ matrix.c-compiler }}-${{ matrix.py-version }}.xml
        reporter: java-junit
        fail-on-error: false
