
name: Makefile CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 180
    env:
      MPIEXEC_FLAGS: "--allow-run-as-root --oversubscribe"
      PYNUCLEUS_BUILD_PARALLELISM: 2

    steps:
    - name: Check out repo
      uses: actions/checkout@v3

    - name: Pull ccache cache
      uses: actions/cache/restore@v3
      with:
        path: /home/runner/.cache/ccache
        key: ccache

    - name: Install Ubuntu packages
      run: |
        sudo apt-get update
        sudo apt-get install python3 mpi-default-bin mpi-default-dev libmetis-dev libparmetis-dev libsuitesparse-dev ccache

    - name: Get ccache config dir
      run: ccache --show-config

    - name: Install Python dependencies
      run: make prereq && make prereq-extra

    - name: Install
      run: make install

    - name: Push ccache cache
      uses: actions/cache/save@v3
      with:
        path: /home/runner/.cache/ccache
        key: ccache

    - name: Run tests
      run: python3 -m pytest --junit-xml=test-results.xml tests/

    - name: Run flake8
      if: always()
      run: make flake8

    - name: Ccache report
      if: always()
      run: ccache -s

    - name: Archive test results
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: Test results
        path: test-results.xml

    - name: Report test results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Test report
        path: test-results.xml
        reporter: java-junit
        fail-on-error: true

    - name: Report flake8 results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Flake8 report
        path: flake8.xml
        reporter: java-junit
        fail-on-error: false
