name: Container

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

env:
    IMAGE_NAME: pynucleus
    IMAGE_TAGS: latest ${{ github.sha }}
    IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
    REGISTRY_USER: ${{ github.actor }}
    REGISTRY_PASSWORD: ${{ github.token }}

jobs:

  container:
    runs-on: ubuntu-latest
    timeout-minutes: 300

    steps:
    - name: Check out
      if: always()
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # - uses: hadolint/hadolint-action@v3.1.0
    #   with:
    #     dockerfile: Dockerfile
    #     ignore: 'DL3008,DL3013'
    #     verbose: true

    - name: Build Image
      id: build_image
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: ${{ env.IMAGE_TAGS }}
        containerfiles: |
          ./Dockerfile
        build-args: |
          PYNUCLEUS_BUILD_PARALLELISM=4

    - name: Run tests
      run: |
        podman run \
        -e MPIEXEC_FLAGS="--allow-run-as-root --oversubscribe" \
        --workdir /pynucleus \
        --rm \
        --entrypoint='["python3", "-m", "pytest", "--junit-xml", "test-results.xml"]' \
        ${{ steps.build_image.outputs.image }}:${{ github.sha }}

    - name: Push To GHCR
      if: github.event_name == 'push'
      uses: redhat-actions/push-to-registry@v2
      id: push
      with:
        image: ${{ steps.build_image.outputs.image }}
        tags: ${{ steps.build_image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASSWORD }}
        extra-args: |
          --disable-content-trust

    - name: Echo outputs
      if: github.event_name == 'push'
      run: |
        echo "${{ toJSON(steps.push.outputs) }}"
