name: Documentation CI

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:

  linux-ci-doc:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    env:
      MPIEXEC_FLAGS: "--allow-run-as-root --oversubscribe"
      PYNUCLEUS_BUILD_PARALLELISM: 2

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.0
      with:
        egress-policy: audit

    - name: Check out repo
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Pull ccache cache
      id: ccache-restore
      uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
      with:
        path: /home/runner/.cache/ccache
        key: ccache-documentation-ci

    - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
      with:
        python-version: '3.11'

    - name: Install Ubuntu packages
      run: |
        sudo apt-get update
        sudo apt-get install mpi-default-bin mpi-default-dev libmetis-dev libparmetis-dev libsuitesparse-dev ccache

    - name: Install Python dependencies
      run: make prereq && make prereq-extra

    - name: Install
      run: make dev

    - name: Remove ccache cache
      if: ${{ steps.ccache-restore.outputs.cache-hit }}
      shell: bash
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh extension install actions/gh-actions-cache
        gh actions-cache delete ccache --confirm
      continue-on-error: true

    - name: Push ccache cache
      uses: actions/cache/save@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
      with:
        path: /home/runner/.cache/ccache
        key: ccache-documentation-ci

    - name: Build documentation
      run: |
        make docs

    - name: Upload artifact
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
      with:
        path: 'docs/build'
