
name: Documentation

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:

  linux:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    timeout-minutes: 180
    env:
      MPIEXEC_FLAGS: "--allow-run-as-root --oversubscribe"
      PYNUCLEUS_BUILD_PARALLELISM: 2

    steps:
    - name: Check out repo
      uses: actions/checkout@v3

    - name: Pull ccache cache
      id: ccache-restore
      uses: actions/cache/restore@v3
      with:
        path: /home/runner/.cache/ccache
        key: ccache

    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Ubuntu packages
      run: |
        sudo apt-get update
        sudo apt-get install mpi-default-bin mpi-default-dev libmetis-dev libparmetis-dev libsuitesparse-dev ccache

    - name: Install Python dependencies
      run: make prereq && make prereq-extra && python -m pip install wheel

    - name: Install
      run: make dev

    - name: Remove ccache cache
      if: ${{ steps.ccache-restore.outputs.cache-hit }}
      shell: bash
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh extension install actions/gh-actions-cache
        gh actions-cache delete ccache --confirm
      continue-on-error: true

    - name: Push ccache cache
      uses: actions/cache/save@v3
      with:
        path: /home/runner/.cache/ccache
        key: ccache

    - name: Build documentation
      run: |
        make docs
        cat docs/example1_stepMesh.py

    - name: Setup Pages
      uses: actions/configure-pages@v3

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: 'docs/build'

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v2
